body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 200px repeat(2,480px) 600px 100px;
}
/*Images*/
img{
    object-fit: cover;
}
/*Navbar*/
nav{
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    font-size: large;
    font-weight: bold;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    text-decoration: none;
    color: white;
}
li{
    padding: 10px;
}
/*Hero*/
.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px 40px;
}
/*About*/
.about{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}
/*Gallery*/
.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
}
.gallery-img1{
    background-image:url("Activity\ 3\ Blending\ images\ 2.jpg") ;
    background-size: cover;
}
.gallery-img2{
    background-image: url("Activity\ 3\ Image\ Trace-01.jpg");
    background-size: cover;
}
.gallery-img3{
    background-image: url("Activity\ 1\ Poster\ design.jpg");
    background-size: cover;
}
.gallery-img4{
    background-image: url("Activity\ 1\ retouching.jpg");
    background-size: cover;
}
.gallery div h3{
    margin: 0;
    padding-top: 150px;
    text-align: center;
    color: white;
    display: none;/*Hide the text*/
}
/*footer*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
/*gallery images on hover*/
.gallery-img1:hover{
    background-image: none;
    background-color: dodgerblue;
}
.gallery-img2:hover{
    background-image: none;
    background-color: dodgerblue;
}
.gallery-img3:hover{
    background-image: none;
    background-color: dodgerblue;
}
.gallery-img4:hover{
    background-image: none;
    background-color: dodgerblue;
}
.gallery div:hover h3{
    display: block;
}
/*Hyperlinks on hover*/
a:hover{
    margin: 0;
    padding-top: 150px;
    text-align: center;
    color: white;
    color: dodgerblue;
}
/*mediaquiries XXXpx & wider*/
@media screen and (min-width:500px){
    body{
        grid-template-rows: 100px repeat(2,480px) 300px 100px;
    }
    /*navbar*/
    nav{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 20px 20px 60px;
    }
    .logo{
        width: 25%;
        text-align: left;
    }
    ul{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    /*hero*/
    .hero{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
    }
    /*about*/
    .about{
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .about p{
        width: 50%;
    }
    .hero p{
        width: 50%;
        text-align: left;
    }
    /*gallery*/
    .gallery{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
    }
} 

